@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 250, 250, 250;
  }
}

body {
  padding: 0;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

}

html,
body {
  margin: 0;
  padding: 0;
}

.cuadro {
  background-color: black;
  background-position: center center;
  background-Repeat: no-repeat;
  background-Size: 'cover';
  width: 700px;
}

@media only screen and (max-width:525px) {
  .cuadro {
    width: 0;
    height: 0;
  }
}

.container .ql-editor {
  background: #FFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.781);
  margin: 10px auto 10px auto !important;
  width: 210mm; /* Ancho de una hoja A4 */
  height: 250mm; /* Alto de una hoja A4 */
  max-width: 210mm; /* Establecer el ancho máximo igual al ancho */
  max-height: 250mm;
  overflow-y: auto;
  padding: 60px;
  position: relative; /* Agrega posición relativa para que las líneas se posicionen correctamente */
}

.container .ql-editor::before {
  content: "";
  position: absolute;
  top: 201mm; /* Altura deseada de la línea */
  left: 0;
  right: 0;
  border-top: 1px solid #000; /* Estilo de la línea (puedes personalizarlo) */
}

.ql-toolbar.ql-snow{
display: flex;
justify-content: center;
position: sticky;
top: 0;
z-index: 1;
background: #F3F3F3;
border: none !important;
box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.editor-and-notes {
  display: flex;
  justify-content: space-between;
}

.editor {
  max-width: 1070px; /* Establece el ancho máximo para el editor */
  flex-shrink: 0;
}

.notes {
  width: 200px; /* Ancho de las notas */
  margin-top: 100px; 
}